<html>
    <head>
        <title>My first blog</title>
    </head>
     <body>
        <div>
            <h1><a href="">From Django Girls Tutorial</a></h1>
        </div>

        <div>
            <p>published: 30.08.2015, 20:15</p>
            <h2><a href="">My first post</a></h2>
            <p>Here it's coming. My first post.</p>
        </div>

        <div>
            <p>published: 30.08.2015, 20:15</p>
            <h2><a href="">My second post</a></h2>
            <p>Second post.</p>
        </div>
    </body>
</html>
